/*  your css code here. If applicable */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(40, 20px); /* 40x20 = 800 boxes */
  gap: 2px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  transition: background-color 1s ease, box-shadow 1s ease;
  cursor: pointer;
}
